.header {
    border-top: solid 1px;
    border-bottom: solid 1px;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    
}

.header-ul {
    display: flex;
}

.header-ul li {
    display: inline-block;
    
}

.header-ul li a {
    display: inline-block;
    color: black;
    opacity: 0.8;
    text-decoration: none;
    /* padding: 0px; */
    transition: all .12s ease-in-out;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.1px;
    /* text-transform: uppercase; */
    
    /* margin-left: 30px; */
    /* border: black solid; */
}

.two {
    margin-left: 20%;
    margin-top: 7px;
    cursor: pointer;
}

.two:hover{
    transition: all .12s ease-in-out;
    border-bottom: 1px solid rgb(250,174,23);
}

.loginbut{
    margin-left: 490%;
    
    margin-top: 7px;
    cursor: pointer;
    /* background-color: black; */
}

.login:hover{
    border-bottom: 1px solid rgb(250,174,23);
}